.modal {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  color: black;
}

.dialog {
  width: 640px;
  height: 400px;
  z-index: 3;
  background-color: white;
}

.photo {
  width: 200px;
  height: 100px;
  background-position: center;
  background-size: cover;
  background-color: gray;
}

.footer {
  background-color: white;
}